<div id="search-bar-container">
  <div id="search-bar-wrapper">
    <div id="search-box-container">
      <input
        #inputBox
        class="search-bar-empty"
        type="text"
        (ngModelChange)="getSuggestedSongs()"
        [(ngModel)]="songTitle"
        autocomplete="off"
        (keydown.enter)="generateLyrics()"
        [ngClass]="{
          'search-bar-empty': songTitle.length === 0 || !isSuggestionFound,
          'search-bar-suggestion': songTitle.length > 0 && isSuggestionFound
        }"
      />
    </div>
    <div id="suggestion-container" *ngIf="songTitle.length > 0">
      <div
        *ngFor="let suggestion of suggestedSongs"
        id="suggestion"
      >
        {{ suggestion.songTitle }} - {{ suggestion.artist }}
      </div>
    </div>
  </div>
  <div id="search-button-container">
    <button tabindex="-1" (click)="generateLyrics()" id="search-button">
      Search
    </button>
  </div>
</div>
