<div id="search-bar-container">
  <div id="search-bar-wrapper">
    <div id="search-box-container">
      <input
        #inputBox
        class="search-bar-empty"
        type="text"
        (ngModelChange)="getSuggestedSongs()"
        [(ngModel)]="researchString"
        autocomplete="off"
        (keydown.enter)="generateLyrics()"
        [ngClass]="{
          'search-bar-empty': researchString.length === 0 || !isSuggestionFound,
          'search-bar-suggestion': researchString.length > 0 && isSuggestionFound
        }"
      />
    </div>
    <div id="suggestion-container" *ngIf="researchString.length > 0">
      <div>
        <!-- <div *ngIf="suggestedSongs.length === 0 && isSuggestionFound" id="suggestion-not-found">
          No songs found
        </div> -->
      </div>
      <div
        *ngFor="let suggestion of suggestedSongs.slice(0,7)"
        id="suggestion">
        <div (click)="selectSong(suggestion)">
          {{ suggestion.artist }} - {{ suggestion.songTitle }}
        </div>
        
          
      </div>
      <div id="search-button-container">
        <button tabindex="-1" (click)="generateLyrics()" id="search-button" *ngIf="suggestedSongs.length > 0 && isSuggestionFound">
          Search
        </button>
      </div>
    </div>
  </div>
  <div id="search-button-container"  *ngIf="suggestedSongs.length === 0">
    <button tabindex="-1" (click)="generateLyrics()" id="search-button">
      Search
    </button>
  </div>
</div>
