div {
    white-space: pre-wrap;  /*preserve line breaks in lyrics*/
}

#lyrics-display-container, #not-found-lyrics-container{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    margin:0;
}

#not-found-lyrics-container{
    margin-top: 50%;
    text-align: center;
    line-height: 140%;
}

#main-container{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#song-information-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3% 0;
    font-weight: bold;
}

#lyrics-container{
    width:50%;
    line-height: 140%;
    margin-bottom:3%;
}

#spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:15% 0;
}

#mat-spinner-color::ng-deep{
    stroke:#FFC100 !important;
}
