<div *ngIf="lyricsHandlerService.isReceived">
  <div id="lyrics-display-container">
    <div *ngIf="isFound && songInformation.lyrics.length > 0">
      <div id="song-information-container">
        {{ songInformation.songTitle }} - {{ songInformation.artist }}
      </div>
      <div id="lyrics-container">
        {{ songInformation.lyrics }}
      </div>
    </div>

    <div *ngIf="!isFound">
      <div id="not-found-lyrics-container">
        <p>Aucune pièce trouvée</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!lyricsHandlerService.isReceived" id="spinner-container">
  <mat-spinner id="mat-spinner-color" [diameter]="100"></mat-spinner>
</div>
